
<!doctype html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Where is Syeed?</title>
        <script src="../../js/location/myLoc.js"></script>
        <script src="../../js/location/distance.js"></script>
        <script src="../../js/location/map.js"></script>
        <script src="../../js/location/watch.js"></script>
        <script 
            async 
            defer 
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaRHLJ5ZO49joDJk8W3ZJxM9lheHkM9Wc&callback=initMap" 
            type="text/javascript"></script>
        <link rel="stylesheet" href="../../css/myLoc.css">
    </head>
    <body>
        <form>
            <input type="button" id="watch" value="Watch me">
            <input type="button" id="clearWatch" value="Clear watch">
        </form>
        <div id="location" class="geotext">
            Your location will go here
        </div>
        <div id="distanceFromWickedlySmart" class="geotext">
            Distance from WickedlySmart HQ will go here.
        </div>
        <div id="map" class="map">
            This is where our map will go.
        </div>
    </body>
</html>