<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Note To Self</title>
        <link rel="stylesheet" href="../../css/notetoself/notetoself.css">
        <script src="../../js/notetoself/notetoselfGlobals.js"></script>
        <script src="../../js/notetoself/notetoself.js"></script>
    </head>
    <body>
        <form>
            <input type="text" id="note_text">
            <input type="button" id="add_button" value="Add Sticky Note to Self">
        </form>
        <ul id="stickies">
        </ul>
    </body>
</html>