<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Note To Self</title>
        <link rel="stylesheet" href="../../css/notetoself/notetoself.css">
        <script src="../../js/notetoself/notetoselfGlobals.js"></script>
        <script src="../../js/notetoself/notetoself.js"></script>
    </head>
    <body>
        <form>
            <label for="note_color" id="color_label">Color: </label>
            <select id="note_color">
                <option value="LightGoldenRodYellow">Yellow</option>
                <option value="PaleGreen">Green</option>
                <option value="LightPink">Pink</option>
                <option value="LightBlue">Blue</option>
            </select>
            <label for="note_text" id="text_label">Text: </label>
            <input type="text" id="note_text">
            <input type="button" id="add_button" value="Add Sticky Note to Self">
        </form>
        <ul id="stickies">
        </ul>
    </body>
</html>